/* removed some of the presets */
/* The * means "all elements" (a universal selector), so we are setting all elements to have zero margins, and zero padding, thus making them look the same in all browsers */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
}
/* absolute */
.gimme-space {
  position: absolute;
  width: 20;
  float: left;
  /* border: 2px solid rgb(138, 116, 116); */
  margin: 0px;
  padding: 10px;
}

/* resetting preset button styles */
button {
  padding: 0;
  font-size: 10px;
  font-weight: bolder;
  background-color: transparent;
  cursor: pointer;
}

.btn1 {
  display: inline-block;
  width: 100%;
  padding: 8px 0px;
  background-color: skyblue;
  /* create a small space when buttons wrap on 2 lines */
  /* margin: 10px 0px; */
  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;
  /* size comes from text & padding (no width/height) */
  color: #ffffff;
  background-color: #9555af;
  /* line-height: 1px; */
}

/* change the way the button styles on hover */
button:hover {
  color: black;
}

/* when button is clicked  */
button:active {
  /* moves down */
  transform: translateY(1px);
  /* how bright it glows on click */
  filter: saturate(250%);

  color: black;

  border-color: currentColor;

  background-color: white;
}
button:hover,
button:focus {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
  outline: none;
}

#newpost {
  margin-top: 40px;
  border: 2px solid red;
  display: none;
  position: absolute;
  height: 10px;
  width: 150%;
  background-image: url("/images/goku.png");
  background-repeat: no-repeat;
  background-size: cover;
}
